body{
    background-color: white;
    overflow-x: hidden;
}
 .header_second{
    background-color: white;
 }
.image__logo12{
    position: relative;
    width: 50px;
    margin-left: 100px;
    padding: 30px;
}
.navigation ul{
    position: relative;
    display: flex;
    list-style: none;
    gap: 15px; /* permet d augmenter la distance entre des elements*/
    margin: 0%;
    left: 150px;
   
}
 .navigation li{
    position: relative;
    margin-left: 20px;
    bottom: 70px; 
}
.ligne_commande{
    text-align: center;
    padding: 30px;
    background-color: red;
}
.button_contact{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}

.information{
    text-align: left;
    margin-left: 200px;
    top: 50px;
}

.addresse{
    text-align: center;
}
.info{
    position: relative;
    text-align: center;
    bottom: 90px;
}
.infos_dernier{
    position: relative;
    text-align: right;
    bottom: 200px;
    left: -200px;
}
.contact_dernier{
    position: relative;
    text-align: center;
}
hr{
    width: 80px;
    height: 4px;
    background-color: red;
}
.footer_icon_dernier{
    background-color: black;
    padding: 60px;

}
.instagrameee{
    position: relative;
    left: 900px;
    height: 29px;
    
}
.mapse{
    position: relative;
    left: 900px;
    height: 30px;
}

.facebooc{
    position: relative;
    left: 800px;
    height: 30px;
}
a{
    text-decoration: none;
}
.contacte{
    text-decoration: underline;
    text-decoration-color: red;
}