body{
    background-color: white;
    overflow-x: hidden;
}

header img{

    width: 70px;
}

.Acueil{
    margin-top: 60px;
    bottom: 400px;
    margin-left: 200px;
    display: flex;
    gap: 220px;

}
.rougee{
    color: red;
}

.cta{
    display: flex;
    margin-left: 100px;
}
.image__logo2{
    position: relative;
    width: 170px;
    left: -100px;
}
.TITRE__Pro{
    margin-left: 100px;
}
.Grand__titre{
    margin-left: 100px;
}
button{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.adresse_carousel{
    display: flex;
    gap: 19px;
    margin-top: 40px;
    margin-left: 150px;
   
}
.titre__adresse{
    position: relative;
    margin-left: 550px;
    padding-top: 100px;
   
}
.commander-ici{
    display: flex;
    margin-top: 80px;
    background-color: red;
    padding: 30px;
    height: 100px;
    text-align: center;
    justify-content: center;
}
 .expertise{
    text-align: center;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: flex;
}
 
.groupe1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 20px;
 gap: 30px;
    
}
.groupe2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 30px;
}
.experh2{
    text-align: center;
}

.titre_reseau_sociau{
    text-align: center;
}
.contact{
    text-align: center;
}

.terminal_footer {
    background-color: black;
    height: 100px;
}
.instagram{
    margin-left: 900px;
    gap: 30px;
    margin-top: 30px;
    height: 28px;
}

.facebook{
    height: 28px;
}

.maps{
    height: 28px;
}
a{
    text-decoration: none;
}
.accueil{
    text-decoration: underline;
    text-decoration-color: red;
}
 nav ul a {
    color: black;
    font-size: 30px;
   
}
header {
    display: flex;
    padding: 20px;
    margin: 10px;
}

ul{
    display: flex;
    gap: 20px;
}
li {
  list-style: none;
}

